div .cities {
  margin-left: 7rem;
  margin-right: 7rem;
}

div .cities-subtitles-one {
  display: flex;
}

div .cities-subtitles-one p {
  padding-left: 1rem;
}

div .cities-subtitles {
  display: flex;
}

div .cities-subtitles p {
  padding-left: 1rem;
}

div .cities-citie-holder {
  display: flex;
}

div .cities-temp-holder {
  display: flex;
}

div .cities-citie-holder p {
  padding-left: 1.25rem;
  font-weight: bold;
}
div .cities-block-holder {
  display: flex;
}

div .citie-block-one {
  flex: 1;
}

@media (max-width: 600px) {
  div .cities {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  div .cities-block-holder {
    display: inline;
  }

  div .cities-subtitles {
    display: none;
  }
}
