#input_icon {
  position: absolute;
  margin-left: 25rem;
  margin-top: 10px;
}

@media (max-width: 38em) {
  #input_icon {
    margin-left: 22rem;
  }
}

@media (max-width: 28.75em) {
  #input_icon {
    margin-left: 17rem;
  }
}
